* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.snackbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
  }
  
  .snackbar.success {
    background-color: green;
  }
  
  .snackbar.error {
    background-color: red;
  }
  button{
    background-color: none;
  }